
.footer {
  
    right: 10px;
    width: 100%;
    color:black;
    text-align: center;
  }
  .f1{
    margin-left: 20px;
}
#logout{
    top:20px;
    float: left;
    position: absolute;
    right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    
}
#cnav{
    background:#212325;
    height: 80px;
}
#navheading{
    color: white;
    margin-left : 20px;
    float:left;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Lilita One', cursive;

}